data/IMOS_-_Autonomous_Underwater_Vehicle_(AUV)_Facility.csv filter=lfs diff=lfs merge=lfs -text
data/scottreef2009.csv filter=lfs diff=lfs merge=lfs -text
data/scottreef2011.csv filter=lfs diff=lfs merge=lfs -text
data/scottreef2015.csv filter=lfs diff=lfs merge=lfs -text
data/bathAndDomLabel_lowres.npz filter=lfs diff=lfs merge=lfs -text
data/full_predictions_2016-08-06-18:01:25.npy filter=lfs diff=lfs merge=lfs -text
data/multiple_labels_training_data.npz filter=lfs diff=lfs merge=lfs -text
data/queryPoints_lowres_v2_.npz filter=lfs diff=lfs merge=lfs -text
data/semi-optimal-1000-subsample.npy filter=lfs diff=lfs merge=lfs -text
data/semi-optimal-500-subsample.npy filter=lfs diff=lfs merge=lfs -text
